/testApp/.idea/.gitignore
/testApp/app/.gitignore
/testApp/.gitignore
/testApp/app/src/main/res/layout/activity_main.xml
/testApp/app/src/main/AndroidManifest.xml
/testApp/app/build.gradle
/testApp/build.gradle
/testApp/app/src/main/res/values/colors.xml
/testApp/.idea/compiler.xml
/testApp/app/src/main/res/layout/content_main.xml
/testApp/app/src/main/res/values/dimens.xml
/testApp/app/src/androidTest/java/com/example/testapp/ExampleInstrumentedTest.java
/testApp/app/src/test/java/com/example/testapp/ExampleUnitTest.java
/testApp/app/src/main/java/com/example/testapp/FirstFragment.java
/testApp/app/src/main/res/layout/fragment_first.xml
/testApp/app/src/main/res/layout/fragment_second.xml
/testApp/gradle.properties
/testApp/.idea/gradle.xml
/testApp/gradle/wrapper/gradle-wrapper.jar
/testApp/gradle/wrapper/gradle-wrapper.properties
/testApp/gradlew
/testApp/gradlew.bat
/testApp/app/src/main/res/mipmap-hdpi/ic_launcher.png
/testApp/app/src/main/res/mipmap-mdpi/ic_launcher.png
/testApp/app/src/main/res/mipmap-xhdpi/ic_launcher.png
/testApp/app/src/main/res/mipmap-xxhdpi/ic_launcher.png
/testApp/app/src/main/res/mipmap-xxxhdpi/ic_launcher.png
/testApp/app/src/main/res/mipmap-anydpi-v26/ic_launcher.xml
/testApp/app/src/main/res/drawable/ic_launcher_background.xml
/testApp/app/src/main/res/drawable-v24/ic_launcher_foreground.xml
/testApp/app/src/main/res/mipmap-hdpi/ic_launcher_round.png
/testApp/app/src/main/res/mipmap-mdpi/ic_launcher_round.png
/testApp/app/src/main/res/mipmap-xhdpi/ic_launcher_round.png
/testApp/app/src/main/res/mipmap-xxhdpi/ic_launcher_round.png
/testApp/app/src/main/res/mipmap-xxxhdpi/ic_launcher_round.png
/testApp/app/src/main/res/mipmap-anydpi-v26/ic_launcher_round.xml
/testApp/.idea/jarRepositories.xml
/testApp/app/src/main/java/com/example/testapp/MainActivity.java
/testApp/app/src/main/res/menu/menu_main.xml
/testApp/.idea/misc.xml
/testApp/app/src/main/res/navigation/nav_graph.xml
/testApp/app/proguard-rules.pro
/testApp/app/src/main/java/com/example/testapp/SecondFragment.java
/testApp/settings.gradle
/testApp/app/src/main/res/values/strings.xml
/text.md
/testApp/app/src/main/res/values/themes.xml
/testApp/app/src/main/res/values-night/themes.xml
/testApp/.idea/vcs.xml
